/* Create a square container */
.slideshow-container {
    max-width: 50%; /* Adjust the size as needed */
    margin: 0 auto;
    position: relative;
}

@media (max-width: 500px) {
    .slideshow-container {
        max-width: 80%; /* Adjust the size as needed */
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 1000px) {
    .slideshow-container {
        max-width: 30%; /* Reduced for smaller slideshow on full screens */
        margin: 0 auto;
        position: relative;
    }
}

/* Style the slide images */
.image-container {
    width: 100%;
    padding-bottom: 100%; /* Create a square aspect ratio container */
    position: relative;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style the slide titles */
.title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Hide the pagination dots */
.slick-dots {
    display: none;
}

/* Style the arrows */
.slick-prev,
.slick-next {
    font-size: 2rem;
    color: #007bff; /* Customize the arrow color */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: 10px; /* Adjust the distance from the left edge */
}

.slick-next {
    right: 10px; /* Adjust the distance from the right edge */
}

  
  
  /*  new stuff */

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 60%; /* Same as line1 */
    margin: auto; /* Center the container */
}

.project-entry {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 100%; /* You can set a specific max-width if needed */
    box-sizing: border-box; /* Ensures that padding and border are included in the width */
}

.project-entry a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image {
    width: 600px; /* Set a fixed width */
    height: 300px; /* And a fixed height */
    object-fit: cover; /* This will cover the area, cropping the image if necessary */
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.project-description {
    font-size: 1em;
    text-align: center;
}

@media (max-width: 768px) {
    .project-list, #line1 {
        width: 90%; /* Increase width for mobile screens */
    }

    .project-image {
        width: 80%; /* Set a fixed width */
        height: 80%; /* And a fixed height */
        object-fit: cover; /* This will cover the area, cropping the image if necessary */
        margin-bottom: 10px;
    }
}
/* Responsive adjustments if necessary */
